<section class="answers">
    <div class="container">
        <div class="answers-pre-title">Результат прохождения теста
            <img src="../static/images/transparent-arrow.png" alt="Стрелка">
            <span id="answer-pre-title">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <div class="answers-title common-title"><span>Правильные ответы</span> к тесту</div>
        <div class="answers-title-name">Тест выполнил <span id="answers-title-name">Роман Чернов, вавлаы</span></div>
        <div class="answers-questions" id="options">
            <div class="answers-question">
                <div class="answers-question-title common-question-title">
                    <span>Вопрос 1:</span> Тут должен быть текст вопроса?
                </div>
                <div class="answers-question-options">
                    <div class="answers-question-option">
                        <input type="radio" id="answer-one" name="answer">
                        <label for="answer-one">Вариант ответа 1</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-two" name="answer">
                        <label for="answer-two">Вариант ответа 2</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-three" name="answer">
                        <label for="answer-three">Вариант ответа 3</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-four" name="answer">
                        <label for="answer-four">Вариант ответа 4</label>
                    </div>
                </div>
            </div>
            <div class="answers-question">
                <div class="answers-question-title common-question-title">
                    <span>Вопрос 2:</span> Тут должен быть текст вопроса?
                </div>
                <div class="answers-question-options">
                    <div class="answers-question-option">
                        <input type="radio" id="answer-21" name="answer">
                        <label for="answer-21">Вариант ответа 1</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-22" name="answer">
                        <label for="answer-22">Вариант ответа 2</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-23" name="answer">
                        <label for="answer-23">Вариант ответа 3</label>
                    </div>
                    <div class="answers-question-option">
                        <input type="radio" id="answer-24" name="answer">
                        <label for="answer-24">Вариант ответа 4</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-result link-result">
            <a href="javascript:void(0)" id="my-result">Обратно к моему результату теста <img src="../static/images/arrow-second.png" alt="Стрелка"></a>
        </div>
    </div>
</section>