body {
    margin: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333;
}

a {
    color: #6933dc;
}

@font-face {
    src: url("../fonts/ofont.ru_Museo Sans Cyrl 500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("../fonts/ofont.ru_Museo Sans Cyrl 700 (1).ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 45px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    border-radius: 6px;
    padding: 14px 35px;
    background: #6933dc;
    font-size: 17px;
    line-height: 20px;
    color: #fff;
    border: 0;
    transition: .4s;
    cursor: pointer;
}

.button:hover {
    background: #390d93;
}

.footer {
    text-align: center;
    padding: 40px 0;
    font-size: 13px;
    line-height: 16px;
    color: #dcdcf3;
}

.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
    color: #333;
}

.common-title span {
    color: #6933dc;
}